
/* CSS */
/*===========================================================*/
/*          		       GLOBAL                            */
/*===========================================================*/

*{
	box-sizing: border-box;
}

h2{
	font-size: 20px;
}

#pageStructure , #pageJoueur , #pageAttendre , #pageAdversaire , #pageResultat {
	color : GhostWhite;
	font-family: sans-serif;
}

/*===========================================================*/
/*          		  IMAGE / GIF                            */
/*===========================================================*/

body {
    background-image: url("../img/tapis_poker_vert_1920x1080.jpg");
}

.logo {
	width:1500px;
}

.logo_accueil_membres {
	width:1000px;
}

.logo_accueil {
    width:1000px;
}

.gif_salon_multi, .gif_cat {
	width:300px;
}

.logo_reponse_defi {
	width:1150px;
}
.allin {
	width:200px;
}
.plateau {
	background-image: url("../img/table_de_jeu.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	width: 100%;
}


/* CARTES */
.cartes{
	width:73px;
}

.carteAdversaire {
	transform: rotate(90deg);
	position: relative; 
	top: 20px;
	left: -100px;
}

.carteAdversaire2 {
	position: relative;
	top: -28px;
}

.carteAdversaire, .carteAdversaire, .carte1Riviere, .carte2Riviere, .carte3Riviere, .carte4Riviere, .carte5Riviere {
	opacity: 0;
}


/*===========================================================*/
/*                       PAGE JOUEUR                         */
/*===========================================================*/

#part1, #part2, #part3 {
	width: 33%;
}

#part1{
	position: relative;
	top: -20px;
	left: 15px;
}

#part2 {
	position: relative;
	bottom: -25px;
}


#part3 {
	position: relative;
	bottom: -270px;
	left: -170px;
}

#pageJoueur, #pageAdversaire {
	text-align: center;
	padding-top: 215px;
	line-height: 20px;
	display: flex;
}

#part0 {
	position: absolute;
	top: 10px;
	left: 47%;
}

.carteDistribution {
	position: absolute;
	top: 0px;

}

.carte1{
	animation: carte1 1.3s 2s 1 forwards, flipBack 1s 12s 1 forwards;
	transform-style: preserve-3d;
	transform-origin: 50% 50% 0;
/*	animation-delay: 2s;
	transition-delay: 9s;
	transform: rotateY(180deg);
	backface-visibility: hidden; */
}

.carte2{
	animation: carte2 1.3s 1;
	animation-fill-mode: forwards;
	animation-delay: 2.5s;
}

.carte3{
	animation: carte3 1.3s 3.5s 1 forwards, flipBack 1s 11s 1 forwards;
	transform-style: preserve-3d;
	transform-origin: 50% 50% 0;
}

.carte4{
	animation: carte4 1.3s 1;
	animation-fill-mode: forwards;
	animation-delay: 4.5s;
}

.carte5{
	animation: carte5 1.3s 1;
	animation-fill-mode: forwards;
	animation-delay: 5.5s;
}

.carte6{
	animation: carte6 1.3s 1;
	animation-fill-mode: forwards;
	animation-delay: 6.5s;
}

.carte7{
	animation: carte7 1.3s 1;
	animation-fill-mode: forwards;
	animation-delay: 7.5s;
}

.carte8{
	animation: carte8 1.3s 1;
	animation-fill-mode: forwards;
	animation-delay: 8.5s;
}

.carte9{
	animation: carte9 1.3s 1;
	animation-fill-mode: forwards;
	animation-delay: 9.5s;
}

.carte1Joueur {
	animation: flip 1s 11s 1 forwards;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}


.carte2Joueur {
	animation: flip 1s 12s 1 forwards;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}


